@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.4s;
}

:root {
  --main-bg-color: black;
  --main-font-color: white;
  --secondary-font-color: #333;
  --second-bg-color: white;
  --second-font-color: black;
  font-size: 20px;
  --blue: #2a8ce5;
}

.landing {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  letter-spacing: 2.5px;
}

.blue {
  color: #2a8ce5;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
}

.navigation a {
  margin-right: 40px;
}

a:hover{
  background: var(--blue);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  cursor: pointer;
}

.join {
  background-color: var(--blue);
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.join:hover {
  background-color: blue;
}

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  color: white;
}

.hero-text h1 {
  font-size: 2rem;
}
.thin {
  font-weight: 300;
}
.hero-image {
  height: 483px;
  margin-right: 15%;
}

.hero-image img {
  height: 100%;
}

input[type="text"] {
  padding: 12px 20px;
  width: 66%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  margin-right: 1px;
  background-color: rgba(70, 67, 67, 0.377);
  color: grey;
}

input[type="button"] {
  padding: 12px 0;
  width: 23%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: var(--blue);
  color: white;
}

.searches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 30px;
  flex-wrap: nowrap;
}

.topic {
  background-color: rgba(70, 67, 67, 0.377);
  padding: 5px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.menuBtn img {
  display: none;
  height: 48px;
  width: 48px;
  cursor: pointer;
}


#close {
  display: none;
}

.night-mode-toggle{
  display: flex;
  width: 200px;
  position: absolute;
  top: 1%;
  left: 44%;
  height: 30px;
  gap: 10px;
}

.dark, .light{
  font-size: 12px;
}

.dark{
  border-right: 1px solid grey;
  background: black;
}

.light{
  background: rgba(58, 57, 57, 0.747);
}

.dark:hover, .light:hover{
  background: #333;
}

@media only screen and (max-width: 1140px) {
  .hero-image {
    margin-right: 5%;
  }

  .navigation a {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1028px){
  a {
    padding: 5px 10px; 
  }
}

@media only screen and (max-width: 963px) {
  .hero-image {
    margin-right: 0;
  }

  a {
    font-size: 15px;
  }
  
  a {
    padding: 5px 5px; 
  }

  .searches {
    font-size: 10px;
  }
}

@media only screen and (max-width: 920px) {
  
  .hero-image {
    height: 443px;
  }

  .searches {
    font-size: 10px;
  }
}

@media only screen and (max-width: 855px) {
  .nav-items {
    position: absolute;
    width: 0;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    background: black;
    flex-direction: column;
    transition: ease-in 0.2s;
  }

  .navigation ul {
    display: block;
    text-align: center;
  }

  
  .navigation ul a {
    display: block;
    width: 100%;
    margin-left: -20px;
    margin-top: 40px;
  }

#open {
    display: block;
  }

#close{
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 10;
}

.hero-content h1{
  font-size: 1.7rem;
}

.searches{
  flex-wrap: wrap;
}

}

@media only screen and (max-width: 781px){
  .hero-image {
    display: none;
  }

  .container {
   display: flex;
   justify-content: center;
   align-items: center;
  }

.hero-content{
  width: 80%;
}

  .hero-text{
    flex-basis: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 299px){
  :root, input, a {
    font-size: 10px;
  }
  input[type="text"] {
    padding: 6px 12px;
  }
  .menuBtn img {
    height: 30px;
    width: 30px;
  }

  .searches{
    display: none;
  }

}
