@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-bg-color: black;
  --main-font-color: white;
  --secondary-font-color: #333;
  --second-bg-color: white;
  --second-font-color: black;
  font-size: 20px;
  --blue: #2a8ce5;
}

.landing {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  letter-spacing: 2.5px;
}

.blue {
  color: #2a8ce5;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 0.8rem;
  padding: 5px 20px;
  border-radius: 3px;
  color: white;
}

a:hover{
  background: var(--blue);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  cursor: pointer;
}

.join {
  background-color: var(--blue);
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.join:hover {
  background-color: blue;
}

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  color: white;
}

.hero-text h1 {
  font-size: 2rem;
}
.thin {
  font-weight: 300;
}
.hero-image {
  height: 483px;
  margin-right: 15%;
}

.hero-image img {
  height: 100%;
}

input[type="text"] {
  padding: 12px 20px;
  width: 66%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  margin-right: 1px;
  background-color: rgba(70, 67, 67, 0.377);
  color: grey;
}

input[type="button"] {
  padding: 12px 0;
  width: 23%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: var(--blue);
  color: white;
}

.searches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 30px;
  flex-wrap: nowrap;
}

.topic {
  background-color: rgba(70, 67, 67, 0.377);
  padding: 5px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.menuBtn{
  z-index: 10;
}

.menuBtn img {
  display: none;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

@media only screen and (max-width: 1140px) {
  .hero-image {
    margin-right: 5%;
  }

  a {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1028px){
  a {
    padding: 5px 10px; 
  }
}

@media only screen and (max-width: 963px) {
  .hero-image {
    margin-right: 0;
  }

  a {
    font-size: 15px;
  }
  
  a {
    padding: 5px 5px; 
  }

  .searches {
    font-size: 10px;
  }
}

@media only screen and (max-width: 920px) {
  
  .hero-image {
    height: 443px;
  }

  .searches {
    font-size: 10px;
  }
}

@media only screen and (max-width: 855px) {
  .nav-items {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: black;
    flex-direction: column;
  }

  .navigation ul {
    display: block;
    text-align: center;
  }

  
  .navigation ul a {
    display: block;
    width: 100%;
    margin-left: -20px;
    margin-top: 40px;
  }

  /*
  nav ul li {
    margin: 5px;
  }

  .sign-in li {
    display: inline-block;
  } */

  #open {
    display: block;
  }

  #close {
    display: none;
  }
}
